html, body {
    height: 100%;
}

.table td, .table th {
    line-height:1.2;
}

body {
    color: #444;
    padding-top: 60px;
    padding-bottom: 40px;
}


.form-message-hidden {
    display:none;
}

.form-message {
    margin-bottom:1em;
}

.form-error {
    color: #b94a48;
}

.login {
    text-align:center;
}

.login h1 {
    margin-bottom:0.5em;
}

.signup h3 {
    font-weight: normal;
}

.signup .names input:first-child {
    margin-right:10px;
}

.signup .controls {
    margin-bottom:0.5em;
}

.signup h1 {
    margin-bottom:0.5em;
}