<h1>{{#if item.id}}Edit item{{else}}New item{{/if}}</h1>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <input type="text" id="description" name="description" data-error-style="inline" value="{{#if description}}{{description}}{{/if}}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="file">Attach File</label>
        <div class="controls">
            <input type="file" id="file" name="file" data-error-style="inline" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="file">Files</label>
        <div class="controls">
            <div class="fileList"></div>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" class="btn btn-primary" id="submit">Save</button>
        <a href="#/" class="btn" id="cancel">Cancel</a>
    </div>
</form>