{{#if files.length}}
    {{#each files}}
        <label class="checkbox"><input type="checkbox" name="files" value="{{file_id}}" checked="checked" /> {{#if file_name}}{{file_name}}{{else}}Unknown File ID {{file_id}}{{/if}}</label></li>
    {{/each}}
{{else}}
    No files... yet.
{{/if}}