<h1>Items</h1>
<p><a class="btn" href="#/editItem">Add new Item</a></p>
{{#if items.length}}
    <ul>
    {{#each items}}
        <li>{{description}} <a href="#/editItem/{{id}}">Edit</a></li>
    {{/each}}
    </ul>
{{else}}
    You have no items.
{{/if}}