
<div class="row">
    <div class="span8 offset2">
        <h1>Sign up</h1>
        <div id="signup-form" class="signup">
            <form class="form-horizontal">
                <h3>Personal information</h3>
                <div class="control-group">
                    <label class="control-label" for="firstName">Full Name</label>
                    <div class="controls controls-row">
                        <input class="span3" type="text" id="firstName" name="firstName" placeholder="First" /><input class="span3" type="text" name="lastName" placeholder="Last" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                        <input class="span6" type="email" id="email" name="email" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password1">Password</label>
                    <div class="controls controls-row">
                        <input class="span3" type="password" name="password1" id="password1" />
                        <input class="span3" type="password" name="password2" id="password2" />
                        <div class="help-block">
                            Please enter your desired password twice, to make sure we get it right.
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" />
                            I agree to the Terms of Service and Privacy Policy
                        </label>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary">Create my account</button>
                </div>

            </form>
        </div>
    </div>
</div>
